{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-6">
            <a href="{% url 'regexpenses:nodata' %}" class="btn btn-primary">등록</a>
            <a href="{% url 'regexpenses:iptamt' %}" class="btn btn-primary">목표금액</a>
            <h7>목표금액 : {{ tamt }}</h7>
            <h7>일평균 : {{ tamt }}</h7>
        </div>
        <div class="col-6">
            <div class="input-group">
                <select style="width: 6em;"  class="form_control" id = "search_type" >
                <option value="category" {% if kw_type == 'category' %} selected {% endif %}> 분류</option>
                <option value="subject" {% if kw_type == 'subject' %} selected {% endif %}>제목</option>
                <option value="date" {% if kw_type == 'date' %} selected {% endif %}>날짜</option>
                </select>
                <input type="text" placeholder="검색어입력해주세요"  id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="table-success">
            <th>지출일자</th>
            <th>분류</th>
            <th>제목</th>
            <th>내역</th>
            <th>금액</th>
        </tr>
        </thead>
        <tbody>
        {% if exp_list %}
        {% for item in exp_list %}
        <tr>
            {% if item.cat == 0 %}
            <td><a href="{% url 'regexpenses:detail' item.id %}">{{ item.amtdate }}</a></td>
            <td>
                기본식비(외식등)
            </td>
            {% elif item.cat == 1 %}
            <td>
                유흥(놀고먹는거)
            </td>
            {% else %}
            <td>
                기타
            </td>
            {% endif %}
            <td>
                {{ item.subject }}
            </td>
            <td>{{ item.description }}</td>
            <td>{{ item.amt }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">냉무.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if exp_list.has_previous %}
        <li class="page-item">
             <a class="page-link" data-page="{{ exp_list.previous_page_number }}"
           href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true"
           href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in exp_list.paginator.page_range %}
        {% if page_number >= exp_list.number|add:-5 and page_number <= exp_list.number|add:5 %}
        {% if page_number == exp_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if bom1_list.has_next %}
        <li class="page-item">
           <a class="page-link" data-page="{{ exp_list.next_page_number }}"
           href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
             <a class="page-link" tabindex="-1" aria-disabled="true"
           href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
</div>
<form id="searchForm" method="get" action="{% url 'regexpenses:index' %}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="type" name ="type" value = "{{ type }}">
</form>

<script type='text/javascript'>
const stype = document.getElementById('search_type');
const len_type = stype.options.length;
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('type').value = document.getElementById('search_type').options[document.getElementById("search_type").selectedIndex].value;
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('searchForm').submit();
    });
});
const search_type = document.getElementById('search_type');
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('type').value = document.getElementById('search_type').options[document.getElementById("search_type").selectedIndex].value;
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});

</script>
{% endblock %}
